.container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.i1{
	background-color: #d1d1d1;
	height: 5vh;
	width: 100%;
}
.i2{
    background-color: #0a8c1d;
    height:10vh;
    width: 100%;
    text-align: center;
}
.i3{
	background-color: white;
	height: 8vh;
	width: 100%;
}
.i4{
	background-color: #c9c9c9;
	height: 0.5vh;
	width: 100;
}
.i5{
	background-color: red;
	height: 10vh;
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 2vh;
}
.baixo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 70vh;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2vh;
}
.esqu{
	background-color: orange;
	height: 68vh;
	width: 49%;
	margin-top: 1vh;
	margin-right: 1%;
	
}
.dire{
	background-color: orange;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 69vh;
	width: 50%;
	margin-top: 1vh;
}
.cima{
	background-color: orange;
	height: 33.5vh;
	width: 100%;

}
.baixo{
	background-color: black;
	height: 33.5vh;
	width: 100%;
}
